*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; 
    color: #0d0d0d;
}

.services {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 48px;
}

.package{
    width: 280px;
    padding: 20px;
    border-radius: 12px !important;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    height: 800px !important;
    border-radius: 12px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bronze-package{
    --angle: 45deg; 
    background: linear-gradient(var(--angle), #673208, #db6c2b)   
    
}

.silver-package{
    --angle: 45deg; 
    background: linear-gradient(var(--angle), #ededed, #bdbdbd)   
   
}

.gold-package{
    background-color: gold;
    background: #facd07;
    background: linear-gradient(180deg, rgba(250, 205, 7, 1) 0%, rgba(148, 135, 24, 1) 100%);
   
}

.quote{
    height: 50px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    
}