body{
    background-color: #e7e3e1 !important;
}

.main{
    text-align: center;
}

.text-area{
    min-height: 50px !important;
    max-width: 1000px !important;
    height: 200px !important;
    width: 500px !important;
    font-size: 10px !important;
}
.contact-us{
    grid-template-columns: 1fr 1fr !important;
    border: 10px !important;
    
}

.button{
    text-align: center;
    padding-left: 20px;
    margin-top: 20px;
    min-height: 50pssx;
    display: flex;
    justify-content: center;

}

.redirection_message{
    text-align: center;
    margin-top: 50px;

}