body{
    background-color: #e7e3e1 !important;
}

.main{
    text-align: center;
}

.text-area{
    min-height: 50px;
    max-width: 100px;
    height: 200px;
    width: 500px;
}
.contact-us{
    text-align: center !important;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    border: 10px;
    
}

.button{
    text-align: center;
    padding-left: 20px;
    margin-top: 20px;
    min-height: 50pssx;
    display: flex;
    justify-content: center;

}