body{
    background-color: #f3ede7 !important;
}
.center{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.About-box{
    margin: auto;
    padding: 100px;
    text-align: center;
    border-color:black ;
    background-color: #1B365D;
    margin-bottom: 60px;
    max-width: 1200px;
    max-height: 1200px;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    border-radius: 12px !important;
}

.quote-button{
    background-color: silver;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.Subtitle{
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.text{
    color: white;
}

.About-me-title{
    color: white;
}

.top_videos{
    display: flex !important;
    justify-content: center !important;
    gap: 30px !important;
    height: 500px !important;
    
    
}

.videos{
    display: flex !important;
    justify-content: center !important;
    gap: 30px !important;
    height: 200 !important;
    margin-bottom: 5000px !important;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; 
    color: #0d0d0d;
}

.services {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 48px;
}

.package{
    width: 280px;
    padding: 20px;
    border-radius: 12px !important;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    height: 800px !important;
    border-radius: 12px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bronze-package{
    --angle: 45deg; 
    background: linear-gradient(var(--angle), #673208, #db6c2b)   
    
}

.silver-package{
    --angle: 45deg; 
    background: linear-gradient(var(--angle), #ededed, #bdbdbd)   
   
}

.gold-package{
    background-color: gold;
    background: #facd07;
    background: linear-gradient(180deg, rgba(250, 205, 7, 1) 0%, rgba(148, 135, 24, 1) 100%);
   
}

.quote{
    height: 50px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    
}
body{
    background-color: #e7e3e1 !important;
}


.title{
    text-align: center;
}

.subtitle{
    text-align: center;
}
.start{
    text-align: center;
    margin-left: 1200px;
    
}

.question1{
    text-align: center;
    font-size: 35px;
    padding: 5;
    height: auto;
}
.choices{
    border: 3px solid;
    margin: 5px !important; 
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center !important;
}

.choices:hover{
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

body{
    background-color: #e7e3e1 !important;
}

.main{
    text-align: center;
}

.text-area{
    min-height: 50px !important;
    max-width: 1000px !important;
    height: 200px !important;
    width: 500px !important;
    font-size: 10px !important;
}
.contact-us{
    grid-template-columns: 1fr 1fr !important;
    border: 10px !important;
    
}

.button{
    text-align: center;
    padding-left: 20px;
    margin-top: 20px;
    min-height: 50pssx;
    display: flex;
    justify-content: center;

}

.redirection_message{
    text-align: center;
    margin-top: 50px;
}