title{
    text-align: center;
}

body{
    background-color: #f3ede7 !important;
}
.center{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.About-box{
    margin: auto;
    padding: 100px;
    text-align: center;
    border-color:black ;
    background-color: #1B365D;
    margin-bottom: 60px;
    max-width: 1200px;
    max-height: 1200px;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    border-radius: 12px !important;
}

.quote-button{
    background-color: silver;
    text-align: center;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.Title{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.Subtitle{
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.text{
    color: white;
}

.About-me-title{
    color: white;
}