body{
    background-color: #e7e3e1 !important;
}


.title{
    text-align: center;
}

.subtitle{
    text-align: center;
}
.start{
    text-align: center;
    margin-left: 1200px;
    
}

.question1{
    text-align: center;
    font-size: 35px;
    padding: 5;
    height: auto;
}
.choices{
    border: 3px solid;
    margin: 5px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}